.Achievement-Container {
    padding: 12px 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 600px;
    gap: 20px;
    flex-wrap: wrap;
}

.Card-Achi {
    width: 280px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 12px 0;
}

.Icon {
    display: flex;
    justify-content: flex-end;
    padding: 0 16px 12px 16px ;
    font-size: 18px;
}

.Achi-Img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.Text-Achi {
    padding: 0 16px;
    text-align: justify;
}

.Tgl-Achi {
    font-size: 12px;
    font-weight: 400;
    color: #444444;
}

.Judul-Achi {
    font-size: 20px;
    color: var(--TextColor);
    font-weight: 700;
}

.deskripsi-Achi {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: #444444;
}
