* {
    list-style: none;
    text-decoration: none;
}

.active {
    border-radius: 32px;
    transition: all .1s ease-in;
}

.Menu {
    width: 600px;
    padding: 2px;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid var(--PrimaryColor);
    border-radius: 32px;
}

.List-Menu {
    width: 198px;
    text-align: center;
    padding: 10px;
    border-radius: 32px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--TextColor);
}


.List-Menu:hover {
    background-color: var(--PrimaryColor);
}

.Navbar-Container {
    margin-bottom: 20px;
}

.active {
    background-color: var(--PrimaryColor);
}

Link.active {
    background-color: var(--PrimaryColor);
}

.activeLink{
    background-color: var(--TextColor)
}