:root {
  --PrimaryColor : #d2d2d2;
  --TextColor : #2e2e2e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



.App {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 480px) {
  .App {
    flex-direction: column;
    padding: 20px 20px;
  }
}
.Profile-Container {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 12px;
}

.Profile {
  display: flex;
  align-items: center;
}

.Img-Container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--PrimaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Profile-Img {
  border-radius: 50%;
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.Nama-Sosmed {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.Nama {
  font-size: 12px;
  color: var(--TextColor);
}

.Social {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.Social-Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--PrimaryColor);
}

.fa-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 14px;
  padding: 12px;
  border-radius: 50%;
  color: var(--PrimaryColor);
  background-color: #fff;
}

.Deskripsi {
  font-size: 16px;
  text-align: left;
  color: var(--TextColor);
}

.Deskripsi a {
  text-decoration: underline;
  color: var(--TextColor)
}


.Deskripsi a:hover {
  color: rgb(158, 158, 158);
  transition: all .1s ease-out;
}

.Social-Icon:hover .fa-brands {
  border: 4px solid #fff;
  transition: all ease .1s;
}


@media(max-width: 480px) {
  .Profile-Container {
    width: 100%;
    justify-content: center;
  }

  .Profile {
    justify-content: center;
  }

  .Nama {
    text-align: center;
    font-size: 10px;
  }

  .Img-Container {
    width: 120px;
    height: 120px;
  }

  .Social-Icon {
    width: 44px;
    height: 44px;
  }

  .fa-brands {
    width: 26px;
    height: 26px;
  }

  .Deskripsi {
    font-size: 15px;
    padding: 0 20px;
    text-align: center;
  }
}

* {
  list-style: none;
  text-decoration: none;
}

.active {
  border-radius: 32px;
  transition: all .1s ease-in;
}

.Menu {
  width: 600px;
  padding: 2px;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid var(--PrimaryColor);
  border-radius: 32px;
}

.List-Menu {
  width: 198px;
  text-align: center;
  padding: 10px;
  border-radius: 32px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--TextColor);
}


.List-Menu:hover {
  background-color: var(--PrimaryColor);
}

.Navbar-Container {
  margin-bottom: 20px;
}

.active {
  background-color: var(--PrimaryColor);
}

Link.active {
  background-color: var(--PrimaryColor);
}

.activeLink {
  background-color: var(--TextColor)
}

@media(max-width: 480px) {
  .Menu {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .List-Menu {
    width: 100%;
    font-size: 10px;
  }
}

.Portfolio-Container {
  padding: 12px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 600px;
  gap: 20px;
  flex-wrap: wrap;
}

.Card-Porto {
  width: 280px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  padding-bottom: 8px;
}

.Portfolio-Img {
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.Text-Portfolio {
  padding: 0 16px;
  text-align: justify;
}

.Judul-Portfolio {
  font-size: 20px;
  color: var(--TextColor);
  font-weight: 700;
}

.deskripsi-Portfolio {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #444444;
}

.Card-Porto:hover .Judul-Portfolio {
  text-decoration: underline;
  color: #444444;
  transition: all ease .2s;
}

@media(max-width: 480px) {
  .Portfolio-Container {
    padding: 12px 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
  }

  .Card-Porto {
    width: 100%;
  }

  .Text-Porto {
    width: 100%;
  }

  .Judul-Porto {
    font-size: 20px;
    line-height: 24px;
  }

  .Deskripsi-Porto {
    font-size: 16px;
  }
}

.Achievement-Container {
  padding: 12px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 600px;
  gap: 20px;
  flex-wrap: wrap;
}

.Card-Achi {
  width: 280px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  padding: 12px 0;
}

.Icon {
  display: flex;
  justify-content: flex-end;
  padding: 0 16px 12px 16px;
  font-size: 18px;
}

.Achi-Img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.Text-Achi {
  padding: 0 16px;
  text-align: justify;
}

.Tgl-Achi {
  font-size: 12px;
  font-weight: 400;
  color: #444444;
}

.Judul-Achi {
  font-size: 20px;
  color: var(--TextColor);
  font-weight: 700;
}

.deskripsi-Achi {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #444444;
}

@media(max-width: 480px) {
  .Achievement-Container {
    width: 100%;
  }

  .Card-Achi {
    width: 100%;
  }
}.Blog-Container {
  padding: 12px 10px;
  width: 600px;
}

.Blog-Card {
  display: flex;
  height: 160px;
  gap: 20px;
  transform: scale(1);
  margin-bottom: 20px;
}

.Blog-Img {
  width: 260px;
  height: 160px;
  object-fit: cover;
  border-radius: 16px;
}

.Text-Blog {
  width: 320px;
  padding: 12px 0px;
}

.Header {
  display: flex;
  gap: 4px;
  font-size: 14px;
  color: #444444;
}

.Judul-Blog {
  font-size: 24px;
  line-height: 32px;
  color: var(--TextColor);
}

.Deskripsi-Blog {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #444444;
}

.Link:hover .Blog-Card {
  transform: scale(.95);
  transition: all ease-in-out .3s;
}

@media(max-width: 480px) {
  .Blog-Container {
    width: 100%;
  }

  .Blog-Card {
    width: 100%;
  }

  .Blog-Img {
    width: 120px;
    height: 160px;
    border-radius: 8px;
  }

  .Text-Blog {
    width: 100%;
  }

  .Header {
    font-size: 10px;
  }

  .Judul-Blog {
    font-size: 20px;
    line-height: 24px;
  }

  .Deskripsi-Blog {
    font-size: 16px;
  }
}