:root {
  --PrimaryColor : #d2d2d2;
  --TextColor : #2e2e2e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



.App {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}