:root {
  --PrimaryColor : #828181;
  --TextColor : #dededf;
  --BgColor : #2e2f35;
  --SecondaryColor : #ababab;
  --ThirdColor : #8b8b8b;
}

html {
  font-size: 100%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--BgColor);
}

.App {
  padding: 1.5rem 5rem;
  display: grid; 
  grid-template-columns: 1fr 2fr;
  gap: 2rem; 
}

.Container-Profile {
  display: grid;
  align-content: flex-start; 
  gap: .5rem;
}

.Nama {
  font-size: .75rem;
  font-weight: 800;
  color: var(--TextColor);
}

.Profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}

.Img-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid var(--PrimaryColor);
}

.Img-Container:hover {
  background-color: var(--PrimaryColor);
  transition: all ease .3s;
}

.Profile-Img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
}

.Social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  align-items: center;
}

.Social-Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--PrimaryColor);
  color: var(--BgColor);
}

.Social-Icon:hover {
  background-color: var(--PrimaryColor);
  transition: all ease .2s;
}

.fa-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--TextColor);
}

.Deskripsi {
  color: var(--TextColor);
}

.Deskripsi a {
  color: var(--TextColor);
  text-decoration: underline;
}

.Deskripsi a:hover {
  color: var(--PrimaryColor);
  transition: all ease .2s;
}

.Navbar-Container {
  display: grid;
  gap: 1rem;
}

.Menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 30px;
  padding: 8px;
  border: 2px solid var(--PrimaryColor);
}

.List-Menu {
  color: var(--TextColor);
  text-align: center;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.List-Menu i {
  font-size: 1.2rem;
}

.active {
  border-radius: 30px;
  transition: all .1s ease-in;
  background-color: var(--PrimaryColor);
}

.Blog-Container {
  display: grid;
  gap: 2rem;
}

.Card-Blog {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.Img-Blog {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 18px;
}

.Card-Blog .Text {
  padding: 16px 0;
}

.Kategori-Container {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--ThirdColor);
  font-size: .9rem;
}

.Kategori,
.Tgl {
  padding: 2px 8px;
}

.Card-Blog:hover .Kategori,
.Card-Blog:hover .Tgl {
  background-color: var(--SecondaryColor);
  color: var(--BgColor);
  transition: all ease .3s;
}

.Judul {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--TextColor);
}

.Card-Blog .Isi {
  color: var(--SecondaryColor);
}

.Card-Blog:hover {
  transform: scale(.98);
  transition: all ease .2s;
}

.Container-Portfolio,
.Container-Achi {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  flex-wrap: wrap;
}

.Card-Portfolio,
.Card-Achi {
  background-color: var(--PrimaryColor);
  border-radius: 18px 18px 16px 16px;
  padding-bottom: 12px;
}

.Img-Portfolio {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0;
}

.Img-Achi {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.Text {
  padding: 1rem 2rem;
}

.Card-Portfolio .Kategori-Container p {
  padding: 2px 8px;
  margin-top: 4px;
  color: var(--SecondaryColor);
  border-bottom: 1px solid var(--TextColor);
}

.Card-Portfolio:hover .Kategori-Container p {
  background-color: var(--BgColor);
  transition: all ease .3s;
}

.Icon-Achi {
  display: flex;
  justify-content: flex-end;
  padding: 8px 20px;
  font-size: 1.25rem;
}

.Card-Achi .Tgl {
  padding: 0;
  font-size: .9rem;
  color: var(--BgColor);
}

.Card-Achi:hover .Icon-Achi p {
  background-color: var(--BgColor);
  border-radius: 4px;
  transition: all ease .3s;
}

.Isi {
  color: var(--BgColor);
}

@media (max-width : 480px) {
  .App {
    padding: 1rem;
    display: grid;
    grid-template-columns: none; 
    gap: 2rem; 
  }

  .Container-Profile {
    padding: 0 16px;
  }

  .Img-Container {
    width: 100px;
    height: 100px;
  }

  .Profile-Img {
    width: 90px;
    height: 90px;
  }

  .Deskripsi {
    font-size: 80%;
  }

  .Social-Icon{
    width: 40px;
    height: 40px;
  }

  .fa-brands {
    width: 28px;
    height: 28px;
  }
  
  .Nama, .Deskripsi {
  text-align: center;
  }

  .List-Menu {
    font-size: 64%;
  }

  .List-Menu i {
    font-size: 140%;
  }

  .Img-Blog {
    height: 120px;
    border-radius: 12px;
  }

  .Card-Blog .Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .Kategori-Container {
    font-size: 80%;
  }

  .Kategori,
  .Tgl {
  padding: 0;
  }

  .Judul {
    font-size: 100%;
    line-height: 24px;
  }

  .Card-Blog .Isi {
    font-size: 90%;
  }

  .Img-Portfolio {
    height: 120px;
  }

  .Card-Portfolio .Text {
    padding: 4px 16px;
  }

  .Card-Portfolio .Isi {
    font-size: 90%;
  }

  .Container-Achi {
    grid-template-columns: none;
  }

  .Card-Achi .Text {
    padding: 4px 26px;
  }

  .Card-Achi .Isi {
    font-size: 80%;
  }

  .Card-Achi .Tgl {
    font-size: 70%;
  }
}